.header {
  width: 100%;
}

.bottom_to_top {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  width: 50px;
  height: 50px;
  background: var(--accent);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 999;
  text-decoration: none;
}

.bottom_to_top.active {
  opacity: 1;
  visibility: visible;
}

.bottom_to_top:hover {
  transform: translateY(-5px);
  background: var(--accent-hover);
}

a {
  text-decoration: none !important;
}

.animate__animated {
  animation-duration: 0.8s;
}